workflows/1RYN5MMES8Gasber.json
{
  "id": "1RYN5MMES8Gasber",
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e063a819-064b-4d33-aaa3-8d913dd602e8",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "696a839a-7c9f-4bf4-87cd-661f1a3c59eb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "9c3c9fa4-a4c0-475c-b273-e430b7d8f67b",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "28297058-0db5-485c-8379-aaa675e8bd2d",
  "owner": {
    "type": "personal",
    "projectId": "wa8OeadvFvy5w2sE",
    "projectName": "Carlos Eduardo Afonso <cafonso@salsify.com>",
    "personalEmail": "cafonso@salsify.com"
  },
  "parentFolderId": null,
  "isArchived": false,
  "nodeGroups": []
}