workflows/jddpLXwaiTaMZOAE.json
{
  "id": "jddpLXwaiTaMZOAE",
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "e4873d88-7d69-4d94-ad9f-2555f9d86a6a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22aa5eb9-c67d-4fa2-a83e-506f6e9c3d41",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        208
      ],
      "id": "562fbe34-6f2e-40f2-b80b-ffcd3391d2b5",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        112
      ],
      "id": "a347f1e8-bd5b-4779-9f45-2535db1f9845",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "459b7e18-a393-414e-8b2a-b0354d38a7e2",
  "owner": {
    "type": "personal",
    "projectId": "wa8OeadvFvy5w2sE",
    "projectName": "Carlos Eduardo Afonso <cafonso@salsify.com>",
    "personalEmail": "cafonso@salsify.com"
  },
  "parentFolderId": null,
  "isArchived": false,
  "nodeGroups": []
}